<h1>Your order summary</h1>
{{> addone noDeleteButton=true}}
<a href="/order/thanks" class="button button-big"><img src="/assets/img/4437681.png" class="trolley-img" alt="">Buy now!</a>
{{> cookie-preview}}
{{> go-home}}